/* Resetowanie domyślnych styli */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólny styl strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Nagłówek */
header {
    background: linear-gradient(to right, #3a6e47, #2cb237);
    color: white;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 2rem;
}

.tagline {
    font-size: 0.8rem;
    margin-top: 5px;
    opacity: 0.8;
}

/* Opis */
main {
    margin-top: 30px;
}


.section{
    background: white;
    padding: 20px;
    width: 40rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30rem;
}

.section h2 {
    color: #14743d;
    margin-bottom: 15px;
}

.section p {
    font-size: 0.8rem;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
}
#grid{
    display: flex;
    flex-wrap: wrap;
}

    .header {
        display: flex;
        align-items: center;  /* Aligns logo and text vertically */
        justify-content: center; /* Centers the entire div */
        gap: 10px; /* Space between logo and text */
    
}
.logo{
    width: 3rem;
    height: auto;
}

